@import "../../typography"; 
@import "../../colors"; 
@import "../../mediaQuery"; 

.crypto-details-container { 
    @include mainTypography; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    .crypto-details-wrapper { 
        max-width: 1500px; 
        padding: 25px; 
        @include for-custom-media(460px) {
           padding: 2px;
        }
        .crypto-details-header { 
            display: flex;
            justify-content: center;
            align-items: center;
            @include for-custom-media(1150px) {
                flex-direction: column;
            }
            .crypto-details-image { 
                width: 300px; 
                margin: 30px; 
                @include for-custom-media(1150px) {
                    width: 150px; 
                    margin: 15px; 
                }
            }
            .crypto-details-title { 
                display: flex;
                flex-direction: column;
                align-items: center;
                h1 { 
                    font-size: 4rem;
                    @include for-custom-media(668px) {
                        font-size: 2.5rem; 
                        text-align: center;
                    }
                }
                p { 
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
        .crypto-details-stats { 
            display: flex;
            width: 100%; 
            margin-bottom: 30px;
            margin-top: 30px;
            justify-content: space-between;
            font-size: 1.2rem;
            @include for-custom-media(668px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            span { 
                display: flex;
                align-items: center;
                margin-bottom: 15px; 
                p { 
                    margin-left: 8px; 
                }
            }
        }
        .crypto-details-description { 
            max-width: 1000px; 
        }
        .crypto-details-links-chart-container { 
            display: flex;
            .crypto-details-links { 
                display: flex;
                margin-top: 20px; 
                flex-direction: column;
                width: 400px;
                padding: 15px; 
                border: 2px solid $mainColor; 
                border-radius: 16px;
                @include for-custom-media(460px) {
                    width: 300px; 
                    margin: 20px auto; 
                }
                @include for-custom-media(320px) {
                    width: 280px; 
                    margin: 20px auto; 
                }
            }
            
                .crypto-details-link-container { 
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px; 
                    border-radius: 8px;
                    a { 
                        color: $mainColor; 
                        font-size: 18px;
                        margin-left: 5px;
                        &:hover { 
                        color: $linkHover; 
                    }
                }
                &:nth-child(odd) { 
                    background-color: $accentColor;
                    color: white;
                    a { 
                        color: white;
                        &:hover { 
                            color: rgb(161, 177, 157); 
                        }
                    }
                }
            }
        }
    }
}