@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&display=swap");
.crypto-details-container {
  font-family: 'Hind Madurai', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.crypto-details-container .crypto-details-wrapper {
  max-width: 1500px;
  padding: 25px;
}

@media (max-width: 460px) {
  .crypto-details-container .crypto-details-wrapper {
    padding: 2px;
  }
}

.crypto-details-container .crypto-details-wrapper .crypto-details-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1150px) {
  .crypto-details-container .crypto-details-wrapper .crypto-details-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.crypto-details-container .crypto-details-wrapper .crypto-details-header .crypto-details-image {
  width: 300px;
  margin: 30px;
}

@media (max-width: 1150px) {
  .crypto-details-container .crypto-details-wrapper .crypto-details-header .crypto-details-image {
    width: 150px;
    margin: 15px;
  }
}

.crypto-details-container .crypto-details-wrapper .crypto-details-header .crypto-details-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crypto-details-container .crypto-details-wrapper .crypto-details-header .crypto-details-title h1 {
  font-size: 4rem;
}

@media (max-width: 668px) {
  .crypto-details-container .crypto-details-wrapper .crypto-details-header .crypto-details-title h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}

.crypto-details-container .crypto-details-wrapper .crypto-details-header .crypto-details-title p {
  font-size: 24px;
  font-weight: 600;
}

.crypto-details-container .crypto-details-wrapper .crypto-details-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
}

@media (max-width: 668px) {
  .crypto-details-container .crypto-details-wrapper .crypto-details-stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.crypto-details-container .crypto-details-wrapper .crypto-details-stats span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.crypto-details-container .crypto-details-wrapper .crypto-details-stats span p {
  margin-left: 8px;
}

.crypto-details-container .crypto-details-wrapper .crypto-details-description {
  max-width: 1000px;
}

.crypto-details-container .crypto-details-wrapper .crypto-details-links-chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crypto-details-container .crypto-details-wrapper .crypto-details-links-chart-container .crypto-details-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  padding: 15px;
  border: 2px solid #273a35;
  border-radius: 16px;
}

@media (max-width: 460px) {
  .crypto-details-container .crypto-details-wrapper .crypto-details-links-chart-container .crypto-details-links {
    width: 300px;
    margin: 20px auto;
  }
}

@media (max-width: 320px) {
  .crypto-details-container .crypto-details-wrapper .crypto-details-links-chart-container .crypto-details-links {
    width: 280px;
    margin: 20px auto;
  }
}

.crypto-details-container .crypto-details-wrapper .crypto-details-links-chart-container .crypto-details-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  border-radius: 8px;
}

.crypto-details-container .crypto-details-wrapper .crypto-details-links-chart-container .crypto-details-link-container a {
  color: #273a35;
  font-size: 18px;
  margin-left: 5px;
}

.crypto-details-container .crypto-details-wrapper .crypto-details-links-chart-container .crypto-details-link-container a:hover {
  color: #6e7e75;
}

.crypto-details-container .crypto-details-wrapper .crypto-details-links-chart-container .crypto-details-link-container:nth-child(odd) {
  background-color: #677772;
  color: white;
}

.crypto-details-container .crypto-details-wrapper .crypto-details-links-chart-container .crypto-details-link-container:nth-child(odd) a {
  color: white;
}

.crypto-details-container .crypto-details-wrapper .crypto-details-links-chart-container .crypto-details-link-container:nth-child(odd) a:hover {
  color: #a1b19d;
}
/*# sourceMappingURL=cryptoDetails.css.map */