@import "../../typography"; 
@import "../../colors"; 
@import "../../mediaQuery"; 

.exchange-card { 
    @include mainTypography; 
    display: flex;
    align-items: center;
    height: 80px; 
    justify-content: space-between; 
    padding: 20px; 
    box-shadow: rgba(25, 25, 26, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    &:nth-child(odd) { 
        background-color: $accentColor;
        color: white;
    }
    @include for-custom-media(800px) {
        flex-direction: column; 
        height: 120px; 
    }
    .exchange-data { 
        display: flex; 
        width: 70%; 
        margin-right: 25px; 
        justify-content: space-between;
        a { 
            color: $mainColor; 
            &:hover { 
                color: $linkHover; 
            }
        }
        @include for-custom-media(800px) {
            margin-right: 0px; 
            width: 100%; 
            justify-content: space-around;
            font-size: 12px; 
        }
    }
}